
  
  


<ion-content>
   <img  src="../../assets/images/Alog.png">
  <p class="wel">Welcome,</p>

  <form >
   
    
       <p>Type in your Location</p>
       <div style="width:100%;">
        <input name="place" #place  type="text" placeholder="Your location">
      </div>
      <div id="map"></div>
     <!--  <ion-input placeholder="location" name="location" type="text" required></ion-input>-->
     <button ion-button (click)="Add()">Submit</button>
    
    
  </form>
</ion-content>
