


<ion-content>
   <img  src="../../assets/images/Alog.png">
   
 <!--   <p class="wel">Welcome</p> -->
   
 
  <form>
    <h6>Type in your location</h6>
   <!-- <ion-searchbar #search debounce="500" (ionChange)="_ionChange($event)" type="text" name="place" placeholder="Your location here" #place></ion-searchbar> -->
  <!--  <ion-input id="place"  name="place"  #place placeholder="Your location here.." list="places"></ion-input> -->
   <input id="place" type="text" name="place"  #place placeholder="Your location here.." list="places" >
   <datalist  id="places">
     <option>Kasoa</option>
     <option>Abama</option>
     <option>Osu</option>
     <option>Abeka</option>
     <option>CapeCoast</option>
     <option>East-Legon</option>
   </datalist>
   <br>
   <!-- <ion-list>
   	<ion-item *ngFor ="let item of searchedItem">
   		<ion-label>{{item.title}}</ion-label>
   	</ion-item>
   </ion-list> -->
    <button ion-button (click)="Adloc()">Submit</button>
    <hr>
    
  </form>
  <!-- <button ion-button (click)="Adloc()">Submit</button> -->
</ion-content>
