ion-content{
    --ion-background-color:white;
    img{
        width:30%;
    }
     .pers{
        border-radius: 50%;
    }
}
.toolbar-container {
    background:none !important;
}
.wel{
   transform: translate(5%,490%);
}
form{
    justify-content: center;
    align-items: center;
    transform: translate(0%, 90%);
    text-align: center;


}
ng-select{
    width: 70%;
    margin-bottom: 30px;
    transform: translate(20%,0%);
}
.ng-select .ng-select-container .ng-value-container .ng-input>input {
    background: none transparent !important;
    border: 0 !important;
    box-shadow: none !important;
    box-sizing: content-box !important;
    cursor: default !important;
    outline: none;
    padding: 0;
    width: 50% !important;
}
.ng-dropdown-panel .scroll-host {
    -webkit-overflow-scrolling: touch;
    display: block;
    overflow: hidden;
    overflow-y: auto;
    position: relative;
    transform: translate(-50%, 0%) !important;
}
input{
    border: 0.9px solid white !important;
    width: 70% !important;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
    background-color: white;
}
//Places list
input[list]{
    margin-left:auto;
    margin-right:auto;
    border: 0.9px solid white !important;
    border-radius: 5px;
    text-align: center;
    max-width: 500px;
   
    padding: 20px 20px 20px 20px;
    font: 12px Arial, Helvetica, sans-serif;
   
}
input[type="text"]
{
    font-size:16px;
    font-family: Arial, Helvetica, sans-serif;
}
input[type="submit" i] {
    -webkit-appearance: push-button;
    -moz-appearance: push-button;
    appearance: push-button;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: white !important;
    background-color: #088da5 !important;
    box-sizing: border-box;
    padding: 1px 6px;
    border-width: 2px;
    border-color: gray !important;
    -o-border-image: initial;
    border-radius: 20px;
    padding: 10px;
    width: 30%;
    border-image: initial;
}
//Submit Button
button{
    -webkit-appearance: push-button;
    -moz-appearance: push-button;
    appearance: push-button;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: white !important;
    background-color: #088da5 !important;
    box-sizing: border-box;
    padding: 1px 6px;
    border-width: 2px;
    border-color: gray !important;
    -o-border-image: initial;
    border-radius: 20px;
    padding: 10px;
    width: 30%;
    border-image: initial;

}

