<ion-header>
  <ion-toolbar>
    <!--<ion-title>login1</ion-title>-->
    <ion-buttons slot="start">
      <ion-back-button class="back" defaulthref="login1" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="../../assets/images/b2.png"></ion-img>

    <ion-card-content>
      <div class="wrapForm">
        <ion-icon name="person"></ion-icon>
        <ion-item>
          <ion-input type="text" placeholder="Username" name="name" [(ngModle)]="name" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" placeholder="Passcode" name="passcode" [(ngModle)]="passcode" required></ion-input>
        </ion-item>
        
        <div class="btnn">
          <ion-button shape="round" fill="outline" class="l-btn" (click)="Alogg()">Login</ion-button>
        </div>
        
      </div>
    </ion-card-content>
   
  </ion-card>
</ion-content>
