ion-content{
    width:100%;
    height:100%;
    --ion-background-color:whitesmoke;
    font-family:'Playfair Display',serif;
}
ion-header{
    position: absolute;

    ion-title{
        color:black;
        font-size: 29px;
        font-family: 'Roboto', sans-serif;
    }
}
ion-toolbar{
    --ion-background-color:transparent;
    --opacity: 0;
}
ion-card{
    box-shadow: none;
    margin-top: 50px;
    ion-img{
        box-shadow: none;
    }
    ion-icon{
        transform: translate(400%, 30%);
        font-size: 30px;
    }
}
ion-back-button{
    margin-bottom: 50px;
    --ion-color-primary:gray;
}
.btnn{
    margin-top: 20px;

    ion-button{
        margin:5px;
        transform: translate(30%,30%);
    }
}
.l-btn{
    --ion-color-primary: black;
    --ion-background-primary: white;
}