

<ion-content>
	<img  src="../../assets/images/Alog.png">
  
    <ion-grid fixed>
      <h6>Your GPS Location</h6>
  <!-- <ion-row>
    <ion-col text-center>
      <button ion-button (click)="checkGPSPermission()">
      Your GPS Location
      </button>
    </ion-col>
  </ion-row> -->
  <ion-row>
    <ion-col size="4">Longitude</ion-col>
    <ion-input name="longitude" type="text" #longitude value={{locationCoords.longitude}} disabled  ></ion-input>
 <!--    <label>34455566</label> -->
  </ion-row>
  <ion-row>
    <ion-col size="4">Latitude</ion-col>
    <ion-input name="latitude" #latitude type="text" value={{locationCoords.latitude}} disabled></ion-input>
    <!-- <label>{{locationCoords.latitude}}</label> -->
  </ion-row>
  <ion-row>
    <ion-col size="4">Accuracy</ion-col>
    <ion-input name="accuracy" #accuracy type="text" value={{locationCoords.accuracy}} disabled ></ion-input>
    <!--  <label>{{locationCoords.accuracy}}</label> -->
  </ion-row>
  <ion-row>
    <ion-col size="4">Timestamp</ion-col>
    <ion-input name="timestamp" #timestamp type="text" value="{{locationCoords.timestamp | date:'medium'}}" disabled></ion-input>
   <!--  <label>{{locationCoords.timestamp | date:'medium'}}</label> -->
  </ion-row>
  <!-- <ion-row>
    <ion-col size="4">fif</ion-col>
    <ion-input name="fifty" type="text" #fifty value={{img}}></ion-input>
  </ion-row> -->
  <div class="permit">
   <ion-col text-center>
      <button class="gp" ion-button (click)="checkGPSPermission()" >
      GPS Location
      </button>
    </ion-col>

  <ion-col text-center>
      <button class="continue" ion-button (click)="Permission()" [disabled]="disableButton">
      Continue  <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-col>
  </div>
</ion-grid>
	
</ion-content>
