ion-content{
    --ion-background-color:white;
    font-family:'Playfair Display',serif;

     img{
        width:30%;
    }
     .pers{
        border-radius: 50%;
    }
}

ion-input {
    color: gray !important;
    background: white;
    max-width: 40%;
}
button{
  color: white;
    background: #088da5;
    padding: 10px;
    border-radius: 8px;
    margin-top: 30px;
    margin-left: 10%;
    /* width: 60%;*/
}
ion-col{
    color:gray;
}
h6{
    text-align: center;
    color: gray;
}
.permit{
    display: flex;
}
button:disabled,
button[disabled]{
    background:gray;
    color: white;
}
ion-grid{
    align-items:center;
    justify-content: center;
    ion-row{
        margin-left: 5%;
    }
}

.gp{
    width: 80%;

}
.continue{
    margin-left: -0px;
    width: 80%;
}
label, input, select, textarea {
    font-family: inherit;
    line-height: normal;
    margin-top: 5px !important;
    color: gray;
}
input{
    border: 0.9px solid white !important;
    width: 70% !important;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
    background-color: white;
}
input[type="text"]
{
    font-size:16px;
    font-family: Arial, Helvetica, sans-serif;
}