ion-content{
    --ion-background-color:white;
    font-family:'Playfair Display',serif;

     img{
        width:30%;
    }
     .pers{
        border-radius: 50%;
    }
    .display{
    	display: inline-grid;
    	transform: translate(-10%, 40%);
    }
}
button:disabled,
button[disabled]{
    background:gray;
    color: white;
}
button{
      color: white;
    background: #088da5;
    padding: 20px;
    border-radius: 8px;
    margin-top: 30px;
    width: 110%;
    align-items: center;
    justify-content: center;
    transform: translate(70%);
}
h6{
    text-align: center;
    color:gray;
   transform: translate(0%,380%);
}
button.disableButton{
    --opacity: 0.3; 
}
button.disableBut{
    --opacity: 0.3; 
}