

<ion-content>
<img  src="../../assets/images/Alog.png">
 <h6>Please Select Proximity</h6>
<div class="display">
	
	<button *ngIf="hide" ion-button (click)="GoTo()" [disabled]="disableButton">50m Images</button>
	<button *ngIf="hidee" ion-button (click)="Goto()" [disabled]="disableBut">Upclose Images</button>
</div>
</ion-content>
