
ion-content{
    width:100%;
    height:100%;
    --ion-background-color:white;
    font-family:'Playfair Display',serif;
}

ion-input {
    padding: 2px;
    color: gray !important;
    border-radius: 5px;
    background: white;
    width: 80%;
    margin-left: 10%;
}
form{
    justify-content: center;
    align-items: center;
    transform: translate(0%, 50%);
    text-align: center;
}
h6 {
    font-size: 16px;
    color: gray;
    font-weight: 100;
}
ion-toolbar{
    --ion-background-color:transparent;
    --opacity: 0;
    background-color:white;
}
ion-header{
    background-color:white;
}
button{
   // --ion-color-primary: #989aa2;
 //   --ion-background-primary: white;
 color:white;
 background:#088da5;
 padding:10px;
 border-radius:5px;
    margin-top: 30px;
    width: 40%;
}
ion-back-button{
    margin-bottom: 50px;
    --ion-color-primary:gray;
}