<ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="back" defaulthref="slide" text=""></ion-back-button>
    </ion-buttons>
    </ion-toolbar>


<ion-content>
  
  <form>
    <h6>Please Enter Pincode</h6>
    <ion-input name="pincode" type="number" placeholder="4-Digit Pin Here" #pincode></ion-input>
    <button ion-button (click)="Adlogin()">OK</button>
    <hr>
    <a>Forgot?</a>
  </form>
  
</ion-content>
