<ion-header>
  <ion-toolbar>
    <!--<ion-title>login1</ion-title>-->
    <ion-buttons slot="start">
      <ion-back-button class="back" defaulthref="start" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="../../assets/images/b2.png"></ion-img>

    <ion-card-content>
      <div class="wrapForm">
        <ion-icon name="person"></ion-icon>
        <ion-item>
          <ion-input type="text" placeholder="Username" name="name"  required></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" placeholder="Passcode" name="passcode"  required></ion-input>
        </ion-item>
        <ion-item>
          <ion-button shape="rectangle" fill="" class="l-btn" (click)="launchLocationPage()">
            Location
          </ion-button>
          <ion-input type="text" placeholder="Location" name="location"  required></ion-input>
        </ion-item>
        <div class="btnn">
          <ion-button shape="round" fill="" class="l-btn" (click)="logg()">Login</ion-button>
          <ion-button shape="round" fill="" class="l-btn" (click)="loggg()">Admin</ion-button>
        </div>
        
      </div>
    </ion-card-content>
   
  </ion-card>
</ion-content>
