<ion-content>
  <ion-slides pager="true">

    <ion-slide>
      <ion-card >
        <ion-img src="../../assets/images/bacck1.png"></ion-img>
        <ion-card-header>
          <ion-card-title>
            Snap
          </ion-card-title>
          <ion-card-subtitle>
            Media Snapping
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <div class="s-btn">
            <a (click)="move()"><ion-icon name="camera"></ion-icon></a>
          </div>
        </ion-card-content>
        </ion-card>
      
    </ion-slide>

    <ion-slide>
      <ion-card >
        <ion-img src="../../assets/images/bacck1.png"></ion-img>
        <ion-card-header>
          <ion-card-title>
            Upload
          </ion-card-title>
          <ion-card-subtitle>
            Media Upload
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <div class="s-btn">
           <a (click)="move()"><ion-icon name="folder"></ion-icon></a>
          </div>
        </ion-card-content>
        </ion-card>
    </ion-slide>

    <ion-slide class="s3">
      <ion-card >
        <ion-img src="../../assets/images/bacck1.png"></ion-img>
        <ion-card-header>
          <ion-card-title>
            Welcome
          </ion-card-title>
          <ion-card-subtitle>
           Outdoor Platform
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <div class="s-btn">
            <ion-button shape="round" fill="" class="l-btn" (click)="log()">
              Start
            </ion-button>
          </div>
        </ion-card-content>
        </ion-card>
    </ion-slide>

  </ion-slides>
</ion-content>
