@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

ion-content{
    --ion-background-color:white;
}
ion-header{
    position: absolute;

    ion-title{
        color:black;
        font-size: 29px;
        font-family: 'Roboto', sans-serif;
    }
}
ion-toolbar{
    --ion-background-color:transparent;
    --opacity: 0;
}
.s-btn{
    margin-top: 15px;
    text-align: center;
}
ion-card-title{
    text-align: center;
}
ion-card-subtitle{
    margin-top: 10px;
    text-align: center;
}
.l-btn{
    --ion-color-primary: black;
    --ion-background-primary: white;
    border: 1px solid #8080805e;
    border-radius: 30px;
}

ion-card{
    box-shadow: none;
    height:190%;
    ion-img{
        box-shadow: none;
    }
}
ion-slide{
    a{
        text-decoration: none;
        color: gray;
    }
   ion-icon{
        margin-bottom: 110px;
        font-size: 60px;
        margin-top: -15px;

    }
}

.slides-md {
    --bullet-background: var(--ion-color-step-200, #cccccc);
    --bullet-background-active:  #000 !important;
    --progress-bar-background: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.25);
    --progress-bar-background-active: var(--ion-color-primary-shade, #3171e0);
    --scroll-bar-background: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.1);
    --scroll-bar-background-active: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.5);
}
.slides-ios {
    --bullet-background: var(--ion-color-step-200, #cccccc);
    --bullet-background-active:  #000 !important;
    --progress-bar-background: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.25);
    --progress-bar-background-active: var(--ion-color-primary-shade, #3171e0);
    --scroll-bar-background: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.1);
    --scroll-bar-background-active: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.5);
    margin-top:50px !important;
}