<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="back" defaulthref="login1" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>MediaWatch</ion-title>
  </ion-toolbar>
</ion-header>
 -->
<ion-content padding class="card-background-page">
  <h6>Upclose Images</h6>
  <div class="move">
    <button  color="light" class="s-bt" ion-button full (click)="select()" >
    <ion-icon name="camera"></ion-icon>  Snap
    </button>
    <button  color="light" class="s-bt" ion-button full (click)="Permission(img)" >
    Done
    </button>
   
        <!-- <ion-button color="light" class="s-bt"  (click)="Upload(img,pos)">
         <ion-icon name="trash" slot="icon-only" ></ion-icon>
       </ion-button> -->
  </div>
   <ion-list>
    <ion-item col-6 *ngFor= "let img of images;index as pos">
      <ion-thumbnail slot="start">
        <ion-img [src]="img.path" *ngIf="img"></ion-img>
      </ion-thumbnail>

      <ion-label>{{img.name}}</ion-label>

     <!--  <ion-button slot="end" (click)="View(img)">
         <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
      </ion-button> -->

     
       <!--  <ion-card class="block"> -->


        <!--   <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto(id)"></ion-icon> -->
         <!--  <ion-img [src]="img.path" *ngIf="img"></ion-img> -->

<!-- 
            <ion-thumbnail slot="start">
        <ion-img [src]="img.path" *ngIf="img"></ion-img>
      </ion-thumbnail> -->


          <!-- <ion-list  *ngFor="let dt of result">
              <ion-item>
                <ion-label>
                  <ion-input name="gps_id" type="text" #gps_id value="{{this?.result}}"></ion-input>
                </ion-label>
              </ion-item>
            </ion-list>-->
<!--          <ion-input name="upclose" type="text" #upclose disabled value={{img?.name}}></ion-input>
 -->         <!-- <ion-input name="longitude" type="text" #longitude value={{locationCoords?.longitude}}></ion-input>
         <ion-input name="latitude" type="text" #latitude value={{locationCoords?.latitude}}></ion-input>
         <ion-input name="accuracy" type="text" #accuracy value={{locationCoords?.accuracy}}></ion-input>
         <ion-input name="timestamp" type="text" #timestamp value="{{locationCoords?.timestamp | date:'medium'}}"></ion-input> -->
         
          <!-- <img #waterMarkedImage> -->
         <!--  <img [src]="photo" *ngIf="photo" /> -->

        <!-- </ion-card> -->
         
           <!-- <ion-label>{{img.name}}</ion-label>  -->
             <!--  <ion-button slot="end" (click)="Upload(img)">
         <ion-icon name="folder" slot="icon-only" ></ion-icon>
       </ion-button> -->
       <!--   <ion-button color="light" class="s-bt" (click)="Upload(img,pos)">
         <ion-icon name="folder" slot="icon-only" ></ion-icon>
       </ion-button> -->



       
         <!--  <ion-button color="light" class="s-bt" slot="end" (click)="Remove(img,pos)">
         <ion-icon name="trash" slot="icon-only" ></ion-icon>
       </ion-button> -->
       
      </ion-item>


</ion-list>

      <!--  <ion-button slot="end" (click)="Remove(img,pos)">
         <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button> -->

   <!--  </ion-item>
  </ion-list> -->
 


  <!-- <div class="move">
    <button  color="light" class="s-bt" ion-button full (click)="select()" >
    <ion-icon name="camera"></ion-icon>  Snap
    </button>
    <button  color="light" class="s-bt" ion-button full (click)="UploadAll(image)" >
    Done
    </button>
  </div> -->

  

   <!--  <button ion-button full (click)="Upload()" >
      <ion-icon name="folder"></ion-icon> Upload
      </button>  -->
  </ion-content>
