
.block {
    position: relative;
    .deleteIcon {
      position: absolute !important;
      color: black !important;
      margin-left: 90% !important;
    }
    .deleteIcon:before {
      font-size: 30px !important;
    }
}
ion-back-button{
    margin-bottom: 50px;
    --ion-color-primary:gray;
}
ion-footer{
  transform: translate(0%,762%);
  background-color:whitesmoke;
}
ion-content{
    --ion-background-color:white;
    
    h6{
      text-align: center;
    }
    .move{
      display: inline-flex;
    }
}
ion-toolbar{
  background:white !important;
  ion-button{
     transform: translate(50%, 10%);
    background: white;
    color: black;
    margin-left: 30px;
}
}
button{
     transform: translate(90%);
    /* position: relative; */
    border-radius: 5px;
    border:0.4px solid gray;
    padding: 10px;
    background: #f5f6f9;
    color: #222428;
    /* width: 100%; */
    font-size: 15px;
    margin-left: 30px;;
}
.toolbar-content {
    flex: 1 1 0%;
    order: 4;
    min-width: 0px;
    background: white !important;
  }

ion-col{
  .block {
  position: relative;
  .deleteIcon {
    position: absolute !important;
    color: #ffffff !important;
    margin-left: 80% !important;
  }
  .deleteIcon:before {
    font-size: 30px !important;
  }
  }
}
ion-item{
  ion-button{
    
    background: white;
    color: black;
   
}
}