<!-- <ion-content>
  <img src="../../assets/images/MediaWatch.png">
</ion-content> -->
<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
  <div class="flb">
    <div class="Aligner-item Aligner-item--top"></div>
    <img src="../../assets/images/Alog.png">

    <div class="Aligner-item Aligner-item--bottom"></div>
    <!-- <h6>Audience Diary</h6> -->
  </div>
</div>