ion-content{
    --ion-background-color:whitesmoke;
    img{
        width:30%;
    }
     .pers{
        border-radius: 50%;
    }
}
.toolbar-container {
    background:none !important;
}
.wel{
   transform: translate(5%,490%);
}
form{
    justify-content: center;
    align-items: center;
    transform: translate(0%, 90%);
    text-align: center;
}

input{
    border: 0.9px solid whitesmoke !important;
    width: 70% !important;
    margin-bottom: 30px;
    border-radius: 5px;
    text-align: center;
    background-color: whitesmoke;
}
input[type="submit" i] {
    -webkit-appearance: push-button;
    -moz-appearance: push-button;
    appearance: push-button;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: white !important;
    background-color: #088da5 !important;
    box-sizing: border-box;
    padding: 1px 6px;
    border-width: 2px;
    border-color: gray !important;
    -o-border-image: initial;
    border-radius: 20px;
    padding: 10px;
    width: 30%;
    border-image: initial;
}
button{
    -webkit-appearance: push-button;
    -moz-appearance: push-button;
    appearance: push-button;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: white !important;
    background-color: #088da5 !important;
    box-sizing: border-box;
    padding: 1px 6px;
    border-width: 2px;
    border-color: gray !important;
    -o-border-image: initial;
    border-radius: 20px;
    padding: 10px;
    width: 30%;
    border-image: initial;
}
