


<ion-content>
   <img  src="../../assets/images/MediaWatch.png">
  <p class="wel">Welcome,</p>
  <form>
    <h6>Type in your location</h6>
    <ion-input name="place" type="text" placeholder="Your Location Here" #place></ion-input>
    <button ion-button (click)="Adloc()">Submit</button>
    <hr>
    
  </form>
  
</ion-content>
